body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
    margin: 0;
}

a, .subtext-01 {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

.phase-01 {
    background-color: #351e1b;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 16px;
}

.content-phase-01 {
    display: flex;
    justify-content: center;
    margin: 100px;
    gap: 18px;
}

.content-left {
    height: auto;
    width: 500px;
}

.main-text-01 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 900;
    margin: 0;
}

.subtext-01 {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
}

.sign-up {
    background-color: #03dd4c;
    color: #F9FAF8;
    font-weight: 900;
    font-size: 18px;
    padding: 10px 32px;
    border-radius: 12px;
}

.phase-01-img {
    height: 220px;
    display: flex;
}



.phase-02 {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
}

.header-phase-02 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
    display: flex;
    justify-content: center;
}

.imgs-phase-02 {
    display: flex;
    justify-content: center;
    gap: 69px;
}

/* I don't know if im supposed to put
color: #E5E73B; below on .img-text.
When I do, the color is too light and is hard to read.
So I kept it default even though it looks slighty more gray in result pic. */

.img-text {
    width: 200px;
    font-size: 18px;
    margin-top: 4px;
    margin-bottom: 4px;
    /* color: #E5E7EB; */
}

.me, .canyon, .rock, .shelby {
    height: auto;
    width: 200px;
    border-radius: 12px;
}

.phase-03 {
    background-color: #E5E7EB;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-phase-03 {
    height: auto;
    width: 900px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    margin-bottom: 0;
}

.wise-man {
    font-size: 24px;
    font-weight: 900;
    margin-top: 0;
    margin-right: 10px;
    display: flex;
    flex-direction: row-reverse;
    align-self: flex-end;
}